
@font-face {
    font-family: 'Calibri';
    src: local('Calibri'),local('Calibri');
    src: url('calibri.eot');
    src: url('calibri.eot?#iefix') format('embedded-opentype'),
         url('calibri.ttf') format('truetype'),
         url('calibri.woff') format('woff'),
         url('calibri.TTF.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Calibri-italic';
    src: local('Calibri-italic'),local('Calibri-italic');
    src: url('calibri-italic.eot');
    src: url('calibri-italic.eot?#iefix') format('embedded-opentype'),
         url('calibri-italic.ttf') format('truetype'),
         url('calibri-italic.woff') format('woff'),
         url('calibri-italic.TTF.svg#Calibri-italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

